

<div class="row card row-card" data-aos="zoom-in-down">
  <h1 class="header-badge-description-title" data-aos="fade-down-left">Badges Page</h1>
  <div class="col-12" *ngIf='badges && badges.length > 0'>
    <div class="card" *ngFor='let badge of badges' data-aos="fade-up-left">
      <div class="badge-holder">
        <div class="card-img-holder">
          <img [src]="badge.mainImgUrl">
        </div>
        <div class="card-title-badge">
          <h3>{{badge.name}}</h3>
          <span class="date">{{badge.createdAt |  date:'short'}}</span>
        </div>
      </div>
      <div class="btn-update">
        <button mat-fab color="warn" aria-label="Update Badge"  matTooltip="Update Badge" (click)="updateBadge(badge)">
          <mat-icon>update</mat-icon>
        </button>
      </div>
      <div class="header-status-button">
        <button *ngIf='badge.status == "blocked"' class="btn" mat-icon-button color="danger" aria-label="Delete Button" (click)="changeStatusBadge(badge,'active')">
          <mat-icon>lock</mat-icon>
        </button>
      </div>
      <div class="header-status-button">
        <button *ngIf='badge.status == "active"' class="btn active-button" mat-icon-button  aria-label="Delete Button" (click)="changeStatusBadge(badge,'blocked')">
          <mat-icon>lock_open</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 no-badge" *ngIf='!badges || (badges && badges.length == 0)'>
    You have no badges
  </div>
</div>



<button mat-fab color="primary" aria-label="Add Badge" class="btn-bottom" matTooltip="Add Badge" (click)="addBadge()">
  <mat-icon>add</mat-icon>
</button>
