.card-img-holder {
  text-align: center;
    display: inline-block;
    width: 20%;
    padding: 50px;
}

.header-badge-description-title {
  font-size: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-top: 50px;
    color:white;
}

.card-title-badge {
  text-align: center;
    width: 70%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: left;
    color:white;
}

.no-badge {
  color:white;
  font-size: 15px;
  text-align: center;
  width: 100%;
  padding: 50px;
}

h3 {
  color:black !important;
}

.badge-holder {
  width: 100%;
  display: inline-block;
  padding: 15px;
}

.date {
  font-size: 15px;
  color:gray;
}

.row-card {
  background-color:  #283136;
}

.row-card:last-of-type{
  margin-bottom: 20%;
}


@media screen and (max-width: 749px) {
  .card-img-holder {
    width: 100% !important;
  }

  .card-title-badge {
    width: 100% !important;
  }


}

.btn-bottom {
  position: fixed;
    bottom: 49px;
    right: 30px;
    width: 100px;
    height: 100px;
}

.btn-bottom:focus {
  outline:none;
}
