<div class="close">
  <button mat-icon-button color="danger" aria-label="Delete Button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div *ngIf='segmentToShow == "code"' class="code-generated">
  <span *ngIf="bestTipsCode != ''">{{bestTipsCode}}</span>
</div>

<div class="code-html">
  <ngx-slick-carousel [config]='slideConfig ' *ngIf='segmentToShow == "html"' class="carousel"
  #slickModal="slick-carousel" >
  <div class="slide" *ngFor='let bestTip of bestTips ' ngxSlickItem>
    <div class="best-tips-item-container">

      <div class="best-tips-image-container">
        <img [src]='bestTip.mainImageUrl'>
      </div>
      <div class="best-tips-text-container">
        <h1 class="header-tips-container">TIPS</h1>

        <div class="header-text-tips">
          <h3>{{bestTip.title}}</h3>
        </div>
        <div class="rating-section">
          {{bestTip.description}}
        </div>

      </div>
    </div>
  </div>
</ngx-slick-carousel>
</div>


<div class="copy-button">
  <button mat-icon-button color="danger" aria-label="Delete Button" (click)="copyCode()">
    <mat-icon>file_copy</mat-icon>
  </button>
</div>
<div class="segment-buttons">
  <button mat-raised-button class="segment-button" (click)='switchSegments("html")'>
    <i class="far fa-file-code"></i>
    HTML
  </button>
  <button mat-raised-button class="segment-button" (click)='switchSegments("code")'>
    <i class="fa fa-code"></i>
    Code
  </button>
</div>


<div class="copied-holder ">
  <mat-icon>check_circle_outline</mat-icon>
  <span>Copied</span>
</div>
