<div class="row card row-card">
  <h1 class="header-product-description-title">Best Reviews Optimization</h1>
  <div class="col-12" *ngFor='let formField of formFields'>
    <div class="card"  id="cardId-{{formField.formId}}">

      <div class="product-description-header" id="review-form-{{formField.formId}}">
        <div class="col-12">
          <mat-form-field appearance="fill" class="form-description-product-input">
            <mat-label>Pick An Option (Image Main)</mat-label>
            <mat-select  (selectionChange)="onChangeSelect($event.value,formField.formId)" >
              <mat-option value="file">File</mat-option>
              <mat-option value="url" >Url</mat-option>
            </mat-select>
            <span class="error error-mat-select" >Please Select An Option</span>
          </mat-form-field>
        </div>
        <div class="col-12">
          <div class="form-description-product-input options-select field-file-review">
            <mat-label>Pick file</mat-label>
            <button (click)="openUploadFile(formField.formId,'main')" mat-icon-button class="input-file-button" >
              <mat-icon>image</mat-icon>
             </button>
            <input accept="image/png, image/gif, image/jpeg" placeholder="file" value="" type="file" class="file-input" style="display:none">
            <span class="error input-file-error" >Please Put A File</span>
          </div>

        </div>
        <div class="col-12">
          <mat-form-field class="form-description-product-input options-select field-url-review">
            <mat-label>Enter Url</mat-label>
            <input matInput placeholder="url" value="" type="url" class="input-url" >
            <span class="error input-url-error">Please Enter  A Url</span>
          </mat-form-field>
        </div>



        <div class="col-12">
          <mat-form-field class="form-description-product-input" appearance="fill">
            <mat-label>Review Author</mat-label>
            <input matInput placeholder="Header" value="" type="text" class="input-author">
            <span class="error input-author-error">Please Enter Author</span>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="form-description-product-input">
            <mat-label>Review Description</mat-label>
            <textarea matInput value="" placeholder="This is a cool Product" rows="5" cols="40" class="input-review"></textarea>
            <span class="error input-review-description-error">Please Enter Review Description </span>
          </mat-form-field>
        </div>

      </div>

    </div>
  </div>
  <div class="col-12 text-center add-more-button">
    <button mat-mini-fab color="primary" aria-label="Add Another Form" (click)="addAnotherForm()" >
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>
