<div class="card" data-aos="fade-down">
  <div class="card-header" data-aos="fade-up">
    <h1>Logs Api</h1>
  </div>
  <div class="card-body" data-aos="fade-down">
    <div class="list-group" data-aos="fade-down">
      <a class="list-group-item list-group-item-action flex-column align-items-start bg-success" (click)='goTo("success-api")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 ">Success Logs Api</h5>
        </div>
        <p class="mb-1">Success Logs from api calls which allow to check all the success request and endpoints.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-info" (click)='goTo("info-api")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Info Logs Api</h5>
        </div>
        <p class="mb-1">Info Logs Will show you the request you make into Api.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-danger" (click)='goTo("error-api")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Error Logs Api</h5>
        </div>
        <p class="mb-1">Error Logs Will Help you improve your website by fixing those errors.
      </a>
    </div>
  </div>
</div>


<div class="card" data-aos="fade-down">
  <div class="card-header" data-aos="fade-up">
    <h1>Auth Api</h1>
  </div>
  <div class="card-body" data-aos="fade-down">
    <div class="list-group" data-aos="fade-down">
      <a class="list-group-item list-group-item-action flex-column align-items-start bg-success" (click)='goTo("success-auth")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 ">Success Logs Auth</h5>
        </div>
        <p class="mb-1">Success Logs from auth api calls which allow to check all the success request and endpoints.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-info" (click)='goTo("info-auth")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Info Logs Auth</h5>
        </div>
        <p class="mb-1">Info Logs Will show you the request you make into auth Api.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-danger" (click)='goTo("error-auth")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Error Logs auth</h5>
        </div>
        <p class="mb-1">Error Logs Will Help you improve your website by fixing those errors.
      </a>
    </div>
  </div>
</div>


<div class="card" data-aos="fade-down">
  <div class="card-header" data-aos="fade-up">
    <h1>Bool Api</h1>
  </div>
  <div class="card-body" data-aos="fade-down">
    <div class="list-group" data-aos="fade-down">
      <a class="list-group-item list-group-item-action flex-column align-items-start bg-success" (click)='goTo("success-bol")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 ">Success Logs Bol</h5>
        </div>
        <p class="mb-1">Success Logs from bool api calls which allow to check all the success request and endpoints.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-info" (click)='goTo("info-bol")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Info Logs Bol</h5>
        </div>
        <p class="mb-1">Info Logs Will show you the request you make into bol Api.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-danger" (click)='goTo("error-bol")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Error Logs Bol</h5>
        </div>
        <p class="mb-1">Error Logs Will Help you improve your website by fixing those errors.
      </a>
    </div>
  </div>
</div>


<div class="card" data-aos="fade-down">
  <div class="card-header" data-aos="fade-up">
    <h1>Product Api</h1>
  </div>
  <div class="card-body" data-aos="fade-down">
    <div class="list-group" data-aos="fade-down">
      <a class="list-group-item list-group-item-action flex-column align-items-start bg-success" (click)='goTo("success-product")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 ">Success Logs Bol</h5>
          <!--<small>3 days ago</small>-->
        </div>
        <p class="mb-1">Success Logs from product api calls which allow to check all the success request and endpoints.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-info" (click)='goTo("info-product")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Info Logs Bol</h5>
        </div>
        <p class="mb-1">Info Logs Will show you the request you make into product Api.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-danger" (click)='goTo("error-product")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Error Logs Product</h5>
        </div>
        <p class="mb-1">Error Logs Will Help you improve your website by fixing those errors.
      </a>
    </div>
  </div>
</div>


