

<div class="card" data-aos="fade-down">
  <div class="card-header" data-aos="fade-up">
    <h1>Auth Api</h1>
  </div>
  <div class="card-body" data-aos="fade-down">
    <div class="list-group" data-aos="fade-down">
      <a class="list-group-item list-group-item-action flex-column align-items-start bg-success" (click)='goTo("authlogger","SUCCESS")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 ">Success Logs Auth</h5>
        </div>
        <p class="mb-1">Success Logs from auth api calls which allow to check all the success request and endpoints.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-info" (click)='goTo("authlogger","SUCCESS")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Info Logs Auth</h5>
        </div>
        <p class="mb-1">Info Logs Will show you the request you make into auth Api.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-danger" (click)='goTo("authlogger","SUCCESS")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Error Logs auth</h5>
        </div>
        <p class="mb-1">Error Logs Will Help you improve your website by fixing those errors.
      </a>
    </div>
  </div>
</div>
