<div class="card" data-aos="fade-down">
  <div class="card-header" data-aos="fade-up">
    <h1>Server Api</h1>
  </div>
  <div class="card-body" data-aos="fade-down">
    <div class="list-group" data-aos="fade-down">
      <a class="list-group-item list-group-item-action flex-column align-items-start bg-success" (click)='goTo("serverlogger","SUCCESS")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 ">Success Logs Server</h5>
        </div>
        <p class="mb-1">Success Logs from server api calls which allow to check all the success request and endpoints.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-warning" (click)='goTo("serverlogger","WARNING")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Warning Logs Server</h5>
        </div>
        <p class="mb-1">Warning Logs Will show you the request you make into Server Api.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-danger" (click)='goTo("serverlogger","ERROR")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Error Logs Server</h5>
        </div>
        <p class="mb-1">Error Logs Will Help you improve your website by fixing those errors.
      </a>
    </div>
  </div>
</div>

<div class="card" data-aos="fade-down">
  <div class="card-header" data-aos="fade-up">
    <h1>Auth Api</h1>
  </div>
  <div class="card-body" data-aos="fade-down">
    <div class="list-group" data-aos="fade-down">
      <a class="list-group-item list-group-item-action flex-column align-items-start bg-success" (click)='goTo("authlogger","SUCCESS")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 ">Success Logs Auth</h5>
        </div>
        <p class="mb-1">Success Logs from auth api calls which allow to check all the success request and endpoints.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-warning" (click)='goTo("authlogger","WARNING")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Warning Logs Auth</h5>
        </div>
        <p class="mb-1">Warning Logs Will show you the request you make into auth Api.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-danger" (click)='goTo("authlogger","ERROR")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Error Logs auth</h5>
        </div>
        <p class="mb-1">Error Logs Will Help you improve your website by fixing those errors.
      </a>
    </div>
  </div>
</div>

<div class="card" data-aos="fade-down">
  <div class="card-header" data-aos="fade-up">
    <h1>Email Api</h1>
  </div>
  <div class="card-body" data-aos="fade-down">
    <div class="list-group" data-aos="fade-down">
      <a class="list-group-item list-group-item-action flex-column align-items-start bg-success" (click)='goTo("emaillogger","SUCCESS")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 ">Success Logs Email</h5>
        </div>
        <p class="mb-1">Success Logs from email api calls which allow to check all the success request and endpoints.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-warning" (click)='goTo("emaillogger","WARNING")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Warning Logs Email</h5>
        </div>
        <p class="mb-1">Warning Logs Will show you the request you make into email Api.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-danger" (click)='goTo("emaillogger","ERROR")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Error Logs Email</h5>
        </div>
        <p class="mb-1">Error Logs Will Help you improve your website by fixing those errors.
      </a>
    </div>
  </div>
</div>

<div class="card" data-aos="fade-down">
  <div class="card-header" data-aos="fade-up">
    <h1>Product,Badges,Shiping Badges and Description Api</h1>
  </div>
  <div class="card-body" data-aos="fade-down">
    <div class="list-group" data-aos="fade-down">
      <a class="list-group-item list-group-item-action flex-column align-items-start bg-success" (click)='goTo("productlogger","SUCCESS")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 ">Success Logs Product,Badges,Shiping Badges and Description Api</h5>
        </div>
        <p class="mb-1">Success Logs from product,badges,shiping badges and description  api calls which allow to check all the success request and endpoints.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-warning" (click)='goTo("productlogger","WARNING")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Warning Logs Product,Badges,Shiping Badges and Description Api</h5>
        </div>
        <p class="mb-1">Warning Logs Will show you the request you make into product,badges,shiping badges and description  Api.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-danger" (click)='goTo("productlogger","ERROR")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Error Logs Product,Badges,Shiping Badges and Description Api</h5>
        </div>
        <p class="mb-1">Error Logs Will Help you improve your website by fixing those errors.
      </a>
    </div>
  </div>
</div>


<div class="card" data-aos="fade-down">
  <div class="card-header" data-aos="fade-up">
    <h1>Tools Api</h1>
  </div>
  <div class="card-body" data-aos="fade-down">
    <div class="list-group" data-aos="fade-down">
      <a class="list-group-item list-group-item-action flex-column align-items-start bg-success" (click)='goTo("toolslogger","SUCCESS")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 ">Success Logs Tools</h5>
        </div>
        <p class="mb-1">Success Logs from tools api calls which allow to check all the success request and endpoints.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-warning" (click)='goTo("toolslogger","WARNING")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Warning Logs Tools</h5>
        </div>
        <p class="mb-1">Warning Logs Will show you the request you make into tools  Api.
      </a>
      <a  class="list-group-item list-group-item-action flex-column align-items-start bg-danger" (click)='goTo("toolslogger","ERROR")' data-aos="fade-up">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Error Logs Tools</h5>
        </div>
        <p class="mb-1">Error Logs Will Help you improve your website by fixing those errors.
      </a>
    </div>
  </div>
</div>
