<div class="row card row-card">
  <h1 class="header-product-description-title">Product Page</h1>
  <div class="col-12">
    <div class="card" *ngIf="product && product != null">
      <div class="product-holder">
        <div class="card-img-holder">
          <img [src]="product.images[0].src">
        </div>
        <div class="card-title-product">
          <h3>{{product.title}}</h3>
          <span class="date">{{product.createdAt |  date:'short'}}</span>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row card row-card" *ngIf="formDescriptionProduct && formDescriptionProduct.length > 0">
  <h1 class="header-product-description-title">Product Description Optimization</h1>
  <div class="col-12" *ngFor="let productForm of formDescriptionProduct">
    <div class="card"  id="cardId-{{productForm.idFields.cardId}}">
      <div class="header-delete-button" *ngIf="productForm.status == 'active'">
        <button mat-icon-button color="danger" aria-label="Delete Button" (click)="deleteFormProduct(productForm.idFields.cardId)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="product-description-header" *ngIf="productForm.status == 'active'">
        <div class="col-12">
          <mat-form-field appearance="fill" class="form-description-product-input">
            <mat-label>Pick An Option (Image Main)</mat-label>
            <mat-select id="selectOptionImageId-{{productForm.idFields.selectOptionImageId}}" (selectionChange)="onChangeSelect($event.value,productForm.idFields.selectOptionImageId)">
              <mat-option value="file">File</mat-option>
              <mat-option value="url">Url</mat-option>
            </mat-select>
            <mat-error id="selectOptionError-{{productForm.idFields.selectOptionError}}">Please Select An Option</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12">
          <div class="form-description-product-input options-select" id="option-file-{{productForm.idFields['option-file-input']}}">
            <mat-label>Pick file</mat-label>
            <input placeholder="file" value="" type="file" id="option-file-input-{{productForm.idFields['option-file-input']}}">
            <mat-error id="fileImageError-{{productForm.idFields.fileImageError}}">Please Put A File</mat-error>
          </div>

        </div>
        <div class="col-12">
          <mat-form-field class="form-description-product-input options-select" id="option-url-{{productForm.idFields['option-url']}}">
            <mat-label>Enter Url</mat-label>
            <input matInput placeholder="url" value="" type="url" id="option-url-input-{{productForm.idFields['option-url-input']}}">
            <mat-error id="fileImageUrlError-{{productForm.idFields.fileImageUrlError}}">Please Enter  A Url</mat-error>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field appearance="fill" class="form-description-product-input">
            <mat-label>Pick An Option (Image badge)</mat-label>
            <mat-select id="selectOptionBadgeId-{{productForm.idFields.selectOptionBadgeId}}" (selectionChange)="onChangeSelectBadge($event.value,productForm.idFields.selectOptionBadgeId)">
              <mat-option value="file">File</mat-option>
              <mat-option value="url">Url</mat-option>
            </mat-select>
            <mat-error id="selectOptionErrorBadge-{{productForm.idFields.selectOptionErrorBadge}}">Please Select An Option</mat-error>
          </mat-form-field>
        </div>

        <div class="col-12">
          <div class="form-description-product-input options-select" id="option-file-badge-{{productForm.idFields['option-file-badge']}}">
            <mat-label>Pick file Badge</mat-label>
            <input placeholder="file" value="" type="file" id="option-file-input-badge-{{productForm.idFields['option-file-input-badge']}}">
            <mat-error id="fileImageErrorBadge-{{productForm.idFields.fileImageErrorBadge}}">Please Put A File</mat-error>
          </div>

        </div>
        <div class="col-12">
          <mat-form-field class="form-description-product-input options-select" id="option-url-badge-{{productForm.idFields['option-url-badge']}}">
            <mat-label>Enter Url Badge</mat-label>
            <input matInput placeholder="url" value="" type="url" id="option-url-input-badge-{{productForm.idFields['option-url-input-badge']}}">
            <mat-error id="fileImageUrlErrorBadge-{{productForm.idFields.fileImageUrlErrorBadge}}">Please Enter  A Url</mat-error>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="form-description-product-input" id="header-{{productForm.idFields.header}}">
            <mat-label>Product Header Description</mat-label>
            <input matInput placeholder="url" value="" type="url" id="header-input-{{productForm.idFields['header-input']}}">
            <mat-error id="headerProductError-{{productForm.idFields.headerProductError}}">Please Enter  A Url</mat-error>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="form-description-product-input" id="header-description-{{productForm.idFields['header-description']}}">
            <mat-label>Product Description</mat-label>
            <textarea matInput placeholder="This is a cool Product" rows="5" cols="40" id="header-description-input-{{productForm.idFields['header-description-input']}}"></textarea>
            <mat-error id="descriptionProductError-{{productForm.idFields.description}}">Please Enter  A Url</mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="header-return-button" *ngIf="productForm.status == 'deleted'">
        <button mat-icon-button  color="primary" aria-label="Delete Button" (click)="activeFormProduct(productForm.idFields.cardId)">
          <mat-icon>reply</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 text-center add-more-button">
    <button mat-mini-fab color="primary" aria-label="Add Another Form" (click)="addAnotherForm()" >
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>


<button mat-fab color="primary" aria-label="Submit All Unsent Coupon" class="btn-sent-all" matTooltip="Submit Forms" (click)="submitForms()">
  <mat-icon>cloud_upload</mat-icon>
</button>
