<div class="row card row-card">
  <h1 class="header-product-description-title">Product Page</h1>
  <div class="col-12">
    <div class="card" *ngIf="product && product != null">
      <div class="product-holder">
        <div class="card-img-holder">
          <img [src]="product.images[0].src">
        </div>
        <div class="card-title-product">
          <h3>{{product.title}}</h3>
          <span class="date">{{product.createdAt |  date:'short'}}</span>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row card row-card">
  <h1 class="header-product-description-title">Table Description Optimization</h1>
  <div class="col-12">
    <div class="card"  id="cardTableId-">
      <div class="product-description-header">
        <div class="col-12">
          <mat-form-field appearance="fill" class="form-description-product-input">
            <mat-label>Pick An Option Main Benifts </mat-label>
            <mat-select id="selectOptionMainBenifts" (selectionChange)="onChangeSelectMainBenifts($event.value)" [(value)]='selectOptionTableProduct.displayMainBenifts'>
              <mat-option value="none">None</mat-option>
              <mat-option value="display" >Display</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div id="mainBeniftsHolder" class="options-select">
          <div class="col-12">
            <mat-form-field appearance="fill" class="form-description-product-input">
              <mat-label>Pick An Option Main Benifts(Image Main)</mat-label>
              <mat-select id="selectOptionMainBeniftsImage" (selectionChange)="onChangeSelectMainBeniftsImage($event.value)" [(value)]='selectOptionTableProduct.displayMainBeniftsOption'>
                <mat-option value="url">Url</mat-option>
                <mat-option value="file" >File</mat-option>
              </mat-select>
              <span class="error" id="selectOptionMainBeniftsErrorImage">Please Select An Option</span>
            </mat-form-field>
          </div>
          <div class="col-12">
            <div class="form-description-product-input options-select" id="option-file-main-benifts">
              <mat-label>Pick file</mat-label>
              <button (click)="openUploadFile('option-file-main-benifts-input','table-file')" mat-icon-button class="input-file-button" >
                <mat-icon>image</mat-icon>
               </button>
              <input accept="image/png, image/gif, image/jpeg" placeholder="file" value="" type="file" id="option-file-main-benifts-input" style="display:none">
              <span class="error" id="option-file-main-benifts-error">Please Put A File</span>
            </div>

          </div>
          <div class="col-12">
            <mat-form-field class="form-description-product-input options-select" id="option-url-main-benifts">
              <mat-label>Enter Url</mat-label>
              <input matInput placeholder="url" value="{{tableDescriptionProduct.imageMainBeniftsUrl}}" type="url" id="option-url-main-benifts-input">
              <span class="error" id="option-url-main-benifts-url">Please Enter  A Url</span>
            </mat-form-field>
          </div>
        <div class="col-12">
          <mat-form-field class="form-description-product-input" id="mainBenifts" appearance="fill">
            <mat-label>Main Benifts Header (use #/ to seperate)</mat-label>
            <input matInput placeholder="use #/ to seperate example value1#/value2#/.." value="{{tableDescriptionProduct.mainBenifts}}" type="text" id="mainbeniftsinput">
            <span class="error" id="mainbeniftsinput-error">Please Enter Main Benifts Options</span>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" class="form-description-product-input">
          <mat-label>Pick An Option Size Chart </mat-label>
          <mat-select id="selectOptionSizeChart" (selectionChange)="onChangeSelectSizeChart($event.value)" [(value)]='selectOptionTableProduct.displaySizeChart'>
            <mat-option value="none">None</mat-option>
            <mat-option value="display" >Display</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div id="sizeChartHolder" class="options-select">
        <div class="col-12">
          <mat-form-field appearance="fill" class="form-description-product-input">
            <mat-label>Pick An Option Size Chart(Image Main)</mat-label>
            <mat-select id="selectOptionSizeChartMain" (selectionChange)="onChangeSelectSizeChartImage($event.value)" [(value)]='selectOptionTableProduct.displaySizeChartOption'>
              <mat-option value="url">Url</mat-option>
              <mat-option value="file" >File</mat-option>
            </mat-select>
            <span class="error" id="selectOptionSizeChartErrorImage">Please Select An Option</span>
          </mat-form-field>
        </div>
        <div class="col-12">
          <div class="form-description-product-input options-select" id="option-file-size-chart">
            <mat-label>Pick file</mat-label>
            <button (click)="openUploadFile('option-file-size-chart-input','table-file')" mat-icon-button class="input-file-button" >
              <mat-icon>image</mat-icon>
             </button>
            <input accept="image/png, image/gif, image/jpeg" placeholder="file" value="" type="file" id="option-file-size-chart-input" style="display:none">
            <span class="error" id="option-file-size-chart-error">Please Put A File</span>
          </div>

        </div>
        <div class="col-12">
          <mat-form-field class="form-description-product-input options-select" id="option-url-size-chart">
            <mat-label>Enter Url</mat-label>
            <input matInput placeholder="url" value="{{tableDescriptionProduct.imageSizeChartUrl}}" type="url" id="option-url-size-chart-input">
            <span class="error" id="option-url-size-chart-url">Please Enter  A Url</span>
          </mat-form-field>
        </div>
    </div>
    <div class="col-12">
      <mat-form-field appearance="fill" class="form-description-product-input">
        <mat-label>Pick An Option Buy And Save </mat-label>
        <mat-select id="selectOptionBuy" (selectionChange)="onChangeSelectBuy($event.value)" [(value)]='selectOptionTableProduct.displayBuy'>
          <mat-option value="none">None</mat-option>
          <mat-option value="display" >Display</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div id="buyHolder" class="options-select">
      <div class="col-12">
        <mat-form-field appearance="fill" class="form-description-product-input">
          <mat-label>Pick An Option Buy And Save(Image Main)</mat-label>
          <mat-select id="selectOptionBuyMain" (selectionChange)="onChangeSelectBuyImage($event.value)" [(value)]='selectOptionTableProduct.displayBuyOption'>
            <mat-option value="url">Url</mat-option>
            <mat-option value="file" >File</mat-option>
          </mat-select>
          <span class="error" id="selectBuyErrorImage">Please Select An Option</span>
        </mat-form-field>
      </div>
      <div class="col-12">
        <div class="form-description-product-input options-select" id="option-file-buy">
          <mat-label>Pick file</mat-label>
          <button (click)="openUploadFile('option-file-buy-input','table-file')" mat-icon-button class="input-file-button" >
            <mat-icon>image</mat-icon>
           </button>
          <input accept="image/png, image/gif, image/jpeg" placeholder="file" value="" type="file" id="option-file-buy-input" style="display:none">
          <span class="error" id="option-file-buy-error">Please Put A File</span>
        </div>

      </div>
      <div class="col-12">
        <mat-form-field class="form-description-product-input options-select" id="option-url-buy">
          <mat-label>Enter Url</mat-label>
          <input matInput placeholder="url" value="{{tableDescriptionProduct.imageBuyUrl}}" type="url" id="option-url-buy-input">
          <span class="error" id="option-url-buy-url">Please Enter  A Url</span>
        </mat-form-field>
      </div>
  </div>
  <div class="col-12">
    <mat-form-field appearance="fill" class="form-description-product-input">
      <mat-label>Pick An Option Color </mat-label>
      <mat-select id="selectOptionColor" (selectionChange)="onChangeSelectColor($event.value)" [(value)]='selectOptionTableProduct.displayColor'>
        <mat-option value="none">None</mat-option>
        <mat-option value="display" >Display</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div id="colorHolder" class="options-select">
    <div class="col-12">
      <mat-form-field appearance="fill" class="form-description-product-input">
        <mat-label>Pick An Option Color(Image Main)</mat-label>
        <mat-select id="selectOptionColorMain" (selectionChange)="onChangeSelectColorImage($event.value)" [(value)]='selectOptionTableProduct.displayColorOption'>
          <mat-option value="url">Url</mat-option>
          <mat-option value="file" >File</mat-option>
        </mat-select>
        <span class="error" id="selectColorErrorImage">Please Select An Option</span>
      </mat-form-field>
    </div>
    <div class="col-12">
      <div class="form-description-product-input options-select" id="option-file-color">
        <mat-label>Pick file</mat-label>
        <button (click)="openUploadFile('option-file-color-input','table-file')" mat-icon-button class="input-file-button" >
          <mat-icon>image</mat-icon>
         </button>
        <input accept="image/png, image/gif, image/jpeg" placeholder="file" value="" type="file" id="option-file-color-input" style="display:none">
        <span class="error" id="option-file-color-error">Please Put A File</span>
      </div>

    </div>
    <div class="col-12">
      <mat-form-field class="form-description-product-input options-select" id="option-url-color">
        <mat-label>Enter Url</mat-label>
        <input matInput placeholder="url" value="{{tableDescriptionProduct.imageColorUrl}}" type="url" id="option-url-color-input">
        <span class="error" id="option-url-color-url">Please Enter  A Url</span>
      </mat-form-field>
    </div>
</div>
      </div>
    </div>
  </div>

</div>



<div class="row card row-card" *ngIf="formDescriptionProduct && formDescriptionProduct.length > 0">
  <h1 class="header-product-description-title">Product Description Optimization</h1>
  <div class="col-12" *ngFor="let productForm of formDescriptionProduct">
    <div class="card"  id="cardId-{{productForm.idFields.cardId}}">
      <div class="header-delete-button" *ngIf="productForm.status == 'active'">
        <button mat-icon-button color="danger" aria-label="Delete Button" (click)="deleteFormProduct(productForm.idFields.cardId)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="product-description-header" *ngIf="productForm.status == 'active'">
        <div class="col-12">
          <mat-form-field appearance="fill" class="form-description-product-input">
            <mat-label>Pick An Option (Image Main)</mat-label>
            <mat-select id="selectOptionImageId-{{productForm.idFields.selectOptionImageId}}" (selectionChange)="onChangeSelect($event.value,productForm.idFields.selectOptionImageId)" [(value)]='productForm.selectOption.mainImageOption'>
              <mat-option value="file">File</mat-option>
              <mat-option value="url" >Url</mat-option>
            </mat-select>
            <span class="error" id="selectOptionError-{{productForm.idFields.selectOptionError}}">Please Select An Option</span>
          </mat-form-field>
        </div>
        <div class="col-12">
          <div class="form-description-product-input options-select" id="option-file-{{productForm.idFields['option-file-input']}}">
            <mat-label>Pick file</mat-label>
            <button (click)="openUploadFile(productForm.idFields['option-file-input'],'main')" mat-icon-button class="input-file-button" >
              <mat-icon>image</mat-icon>
             </button>
            <input accept="image/png, image/gif, image/jpeg" placeholder="file" value="" type="file" id="option-file-input-{{productForm.idFields['option-file-input']}}" style="display:none">
            <span class="error" id="fileImageError-{{productForm.idFields.fileImageError}}">Please Put A File</span>
          </div>

        </div>
        <div class="col-12">
          <mat-form-field class="form-description-product-input options-select" id="option-url-{{productForm.idFields['option-url']}}">
            <mat-label>Enter Url</mat-label>
            <input matInput placeholder="url" value="{{productForm.formField.imageURL}}" type="url" id="option-url-input-{{productForm.idFields['option-url-input']}}">
            <span class="error" id="fileImageUrlError-{{productForm.idFields.fileImageUrlError}}">Please Enter  A Url</span>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field appearance="fill" class="form-description-product-input">
            <mat-label>Pick An Option (Image badge)</mat-label>
            <mat-select (value)="productForm.formField.imageBadgeURL != null ? 'url' : ''" id="selectOptionBadgeId-{{productForm.idFields.selectOptionBadgeId}}" (selectionChange)="onChangeSelectBadge($event.value,productForm.idFields.selectOptionBadgeId)" [(value)]='productForm.selectOption.badgeImageOption'>
              <mat-option value="file">File</mat-option>
              <mat-option value="url">Url</mat-option>
            </mat-select>
            <span class="error" id="selectOptionErrorBadge-{{productForm.idFields.selectOptionErrorBadge}}">Please Select An Option</span>
          </mat-form-field>
        </div>

        <div class="col-12">
          <div class="form-description-product-input options-select" id="option-file-badge-{{productForm.idFields['option-file-badge']}}">
            <mat-label>Pick file Badge</mat-label>
            <button (click)="openUploadFile(productForm.idFields['option-file-input-badge'],'badge')" mat-icon-button class="input-file-button" >
              <mat-icon>image</mat-icon>
             </button>
            <input  accept="image/png, image/gif, image/jpeg" placeholder="file" value="" type="file" id="option-file-input-badge-{{productForm.idFields['option-file-input-badge']}}" style="display:none">
            <span class="error" id="fileImageErrorBadge-{{productForm.idFields.fileImageErrorBadge}}">Please Put A File</span>
          </div>

        </div>
        <div class="col-12">
          <mat-form-field class="form-description-product-input options-select" id="option-url-badge-{{productForm.idFields['option-url-badge']}}">
            <mat-label>Enter Url Badge</mat-label>
            <input matInput placeholder="url" value="{{productForm.formField.imageBadgeURL}}" type="url" id="option-url-input-badge-{{productForm.idFields['option-url-input-badge']}}">
            <span class="error" id="fileImageUrlErrorBadge-{{productForm.idFields.fileImageUrlErrorBadge}}">Please Enter  A Url</span>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="form-description-product-input" id="header-{{productForm.idFields.header}}" appearance="fill">
            <mat-label>Product Header Description</mat-label>
            <input matInput placeholder="Header" value="{{productForm.formField.header}}" type="text" id="header-input-{{productForm.idFields['header-input']}}">
            <span class="error" id="headerProductError-{{productForm.idFields.headerProductError}}">Please Enter Hedear</span>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="form-description-product-input" id="header-description-{{productForm.idFields['header-description']}}">
            <mat-label>Product Description</mat-label>
            <textarea matInput value="{{productForm.formField.description}}" placeholder="This is a cool Product" rows="5" cols="40" id="header-description-input-{{productForm.idFields['header-description-input']}}"></textarea>
            <span class="error" id="descriptionProductError-{{productForm.idFields.headerProductError}}">Please Enter Description</span>
          </mat-form-field>
        </div>

      </div>
      <div class="header-return-button" *ngIf="productForm.status == 'deleted'">
        <button mat-icon-button  color="primary" aria-label="Delete Button" (click)="activeFormProduct(productForm.idFields.cardId)">
          <mat-icon>reply</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 text-center add-more-button">
    <button mat-mini-fab color="primary" aria-label="Add Another Form" (click)="addAnotherForm()" >
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>


<button mat-fab color="primary" aria-label="Submit All Unsent Coupon" class="btn-sent-all" matTooltip="Submit Forms" (click)="submitForms()">
  <mat-icon>cloud_upload</mat-icon>
</button>
