<div class="row">
  <div class="col-md-12">
    <div class="card" *ngFor="let withdraw of withdraws;let i = index" data-aos="fade-down" >
      <div class="card-header" data-aos="fade-up">
        <h4 class="card-title text-center text-primary">Amount {{withdraw.amount / 100000000}} BTC</h4>
      </div>
      <div class="card-body" data-aos="fade-right" >
        <div>
          <div class="content-withdraw">
            <mat-label class="info-withdraw ">HashId:&nbsp;&nbsp; <mat-label class="text-primary">{{withdraw.hashId}}
              </mat-label>
            </mat-label>
          </div>

          <div class="content-withdraw">
            <mat-label class="info-withdraw">Address: <mat-label class="text-primary">{{withdraw.toAddress}}
              </mat-label>
            </mat-label>
          </div>
          <div class="content-withdraw">
            <mat-label class="info-withdraw">
              <mat-icon class="date-icon">access_time</mat-icon> :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <mat-label class="text-primary">{{withdraw.createdAt | date:'short'}}</mat-label>
            </mat-label>
          </div>
        </div>
      </div>
      <hr *ngIf="state[i] == 'expanded'">
      <div [@bodyExpansion]="state[i]" class="expandable-content">
        <mat-label class="deposit-title">Deposits</mat-label>
        <div class="table-responsive">
          <mat-form-field *ngIf="withdraws && withdraws[i]" id="filter">
            <mat-label><i class="nc-icon nc-zoom-split"></i></mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Hello Admin" #input>
          </mat-form-field>
          <table class="table" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows
            class="mat-elevation-z8" [hidden]="!(withdraws[i])">
            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> ID </th>
              <td mat-cell *matCellDef="let element" matTooltip="{{element._id}}"> {{element._id}} </td>
            </ng-container>
            <ng-container matColumnDef="txid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Txid </th>
              <td mat-cell *matCellDef="let element" matTooltip="{{element.txid}}"> {{element.txid}} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Amount </th>
              <td mat-cell *matCellDef="let element" matTooltip="{{element.amount}}">
                {{element.amount}} </td>
            </ng-container>
            <ng-container matColumnDef="currentBalance">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> CurrentBalance </th>
              <td mat-cell *matCellDef="let element" matTooltip="{{element.currentBalance}}">
                {{element.currentBalance}} </td>
            </ng-container>
            <ng-container matColumnDef="amountToWithdraw">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Amount To Withdraw </th>
              <td mat-cell *matCellDef="let element" matTooltip="{{element.amountToWithdraw}}">
                {{element.amountToWithdraw}} </td>
            </ng-container>
            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Deposit On</th>
              <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'short'}} </td>
            </ng-container>
            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Status </th>
              <td mat-cell *matCellDef="let element">
                {{element.active}}
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons *ngIf="withdraws && withdraws[i]">
          </mat-paginator>

        </div>
      </div>
      <hr>
      <div class="card-footer" data-aos="fade-left" >
        <div class="content-withdraw">
          <mat-label class="info-withdraw">Status : <mat-label class="text-primary">{{withdraw.status}}</mat-label>
          </mat-label>
        </div>
        <div class="expand-button">
          <button mat-mini-fab color="warn" aria-label="Expand Button" (click)='toggle(i)'>
            <mat-icon *ngIf="state[i] == 'collapsed'">expand_more</mat-icon>
            <mat-icon *ngIf="state[i] == 'expanded'">expand_less</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
