<div class="card"  data-aos="fade-up-left">


  <div class="badge-description-header" *ngIf="badge">
    <div class="col-12">
      <mat-form-field appearance="fill" class="form-description-badge-input">
        <mat-label>Pick An Option (Image Main)</mat-label>
        <mat-select  class="select-option" [(value)]="badge.selectOption">
          <mat-option value="file">File</mat-option>
          <mat-option value="url" >Url</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12">
      <div class="form-description-badge-input options-select field-file-review">
        <mat-label>Pick file</mat-label>
        <button (click)="openUploadFile()" mat-icon-button class="input-file-button" >
          <mat-icon>image</mat-icon>
         </button>
        <input accept="image/png, image/gif, image/jpeg" placeholder="file" type="file" style="display:none" (change)="selectedImage($event)" #files>
      </div>

    </div>
    <div class="col-12">
      <mat-form-field class="form-description-badge-input options-select field-url-review">
        <mat-label>Enter Url</mat-label>
        <input matInput placeholder="url" [(ngModel)]='badge.mainImageUrl' type="url" class="input-url" >
      </mat-form-field>
    </div>



    <div class="col-12">
      <mat-form-field class="form-description-badge-input" appearance="fill">
        <mat-label>Badge name</mat-label>
        <input matInput placeholder="Header" [(ngModel)]='badge.name' type="text">
      </mat-form-field>
    </div>

  </div>

</div>
