.center {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
}

.card-body {
  position: relative;
}

.card {
  height: 100%;
}



.chart-circle {
  height: 200px !important;
  width: 400px !important;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
}

.chart-legend {
  display: inline-block;
  margin-left: 5px;
}



