.card-product {
  background-color:  #283136;
  display:block;
  width: 100%;
  text-align: center;
  padding: 10px 5px 10px 5px;
}

.card-product * {
  color:white;
}

mat-form-field {
  width: 80% !important;
  text-align: left !important;
}

.main {
  display: block;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.img-holder {
  width: 100%;
  text-align: center;
}

.img-holder img {
  border-radius: 50%;
  margin: 0 auto !important;
  width: 50%;
}

.mat-error {
  color:#f44336 !important;
}

.error {
  color: #f44336 !important;
  display: block;
  text-align: left;
  margin-left: 41px;
}

.add-btn {
  margin-bottom: 15px;
  margin-top: 15px;
}

.submit-btn {
  position: absolute;
  bottom: 60px;
  width: 100px;
  height: 100px;
  right: 20px;
  background: #5cb85c;
}

.submit-btn:focus {
  outline: none;
}

.img-select {
  width:50px !important;
  margin-right: 10px !important;
}
.product-description-header {
  margin-top: 10px !important;
}

.header-delete-button {
  width: 100%;
  text-align: right;
}

.header-delete-button button {
  background:#d9534f;
}
.header-delete-button button:focus {
  outline: none;
}

.header-return-button {
  width: 100%;
  text-align: center;
}

.header-return-button button {
  background:#0275d8;
}

.header-return-button button:focus {
  outline: none;
}

.error {
  color:#d9534f;
  margin-left: 10px;
}
