<div class="row">
  <div class="col-md-12">
    <div class="card" data-aos="zoom-in-down">
      <div class="card-header">
        <h4 class="card-title"> Complaints</h4>
      </div>
      <ngx-skeleton-loader count="20" *ngIf="!loaded"></ngx-skeleton-loader>
        <div class="card" [hidden]="!loaded || !complaints">

          <div class="card-body">
            <div class="table-responsive">
              <mat-form-field *ngIf="loaded && complaints"  id="filter">
                <mat-label><i class="nc-icon nc-zoom-split"></i></mat-label>
                <input matInput  (keyup)="applyFilter($event)" placeholder="Ex. Hello Admin" #input>
              </mat-form-field>
              <table class="table" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows
                class="mat-elevation-z8"
                [hidden]="!(complaints)">
                <ng-container matColumnDef="_id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> ID </th>
                  <td mat-cell *matCellDef="let element" matTooltip="{{element._id}}"> {{element._id}} </td>
                </ng-container>
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Derscription </th>
                  <td mat-cell *matCellDef="let element" matTooltip="{{element.description}}"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Type </th>
                  <td mat-cell *matCellDef="let element" matTooltip="{{element.type}}">
                    {{element.type | uppercase}} </td>
                </ng-container>
                <ng-container matColumnDef="createdAt">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Deposit On</th>
                  <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'short'}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Status </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.status | uppercase}}
                </ng-container>
                <ng-container matColumnDef="expandedDetail" *ngIf="complaints && complaints.length > 0">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                      <div class="response">
                        <div class="response-content" *ngIf="element && element.response">
                          <div class="response-note">
                            <mat-label>Note: <mat-label class="text-primary">{{element.response.note}}</mat-label></mat-label>
                          </div>
                          <div class="response-status">
                            <mat-label>Solved: <mat-label class="text-primary">{{element.response.status == 'true' ? 'Yes' : 'No' | uppercase}}</mat-label></mat-label>
                          </div>
                        </div>
                        <div class="no-response" *ngIf="!element || (element && !element.response)">
                          <mat-label>No Response</mat-label>
                        </div>
                        <div class="reply-button">
                          <button mat-mini-fab color="primary" aria-label="Reply Button" (click)='reply(element)'>
                            <mat-icon>reply</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
                [class.expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element"></tr>
              <div *ngIf="complaints && complaints.length > 0">
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

              </div>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons
                *ngIf="loaded && complaints">
              </mat-paginator>

            </div>

          </div>
        </div>
        <div class="n-complaint" *ngIf="!complaints || (complaints && complaints.length == 0)">
          <mat-label>No Complaints</mat-label>
        </div>
    </div>
  </div>
</div>
