@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
body{
    font-family: 'Open Sans', sans-serif;
}
*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
/*Profile Card 3*/
.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:400px;
  border:none;
}

.holder-product {
  margin-bottom: 40px;
}

.profile {
  height: 80px;
  width: 80px;
}




.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#F9F6EF;
  float:left;
  background:#efefef;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 65%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
  height: 100px;
    width: 100px;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #F9F6EF;
    text-align: center;
    border: 1px solid #F9F6EF;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i:hover {
  background-color:#F9F6EF;
  color:#fff;
  text-decoration:none;
}

.row:last-child {
  background-color: #F9F6EF;
  padding-top: 30px;
}

.title-product{
  color:black;
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.ean-product {
  color:black;
}

.title-product:hover {
  cursor: pointer;
  text-decoration: underline;
}

.price-product {
  color: black;
}

.card-footer {
  background-color: #efefef;
  z-index: 9999999 !important;
  height: 50px;
}

.update-button {
  position: absolute;
  /* top: 25%; */
  right: 0px;
  bottom: 5px;
  left: 0%;
  z-index: 999999 !important;
}

.upload-button{
  position: absolute;
  /* top: 25%; */
  right: 0px;
  bottom: 5px;
  left: 80%;
  z-index: 999999 !important;
}

.filters {
  display: flex;
  align-items: center;
  justify-self: center;
}

.button-bol {
  border-radius: 37px;
  background-color: white !important;
  color: #315EB1;
  margin-left: 5px;
  vertical-align: middle;
  border: 1px solid #315EB1;
}

.search-input {
  background-color: #F9F6EF;
  border-radius: 30px;
}

mat-form-field {
  width: 100%;
  font-size: 19px;

}

::ng-deep .mat-form-field-flex {
  background-color: white !important;
}

.img-badge {
  position: absolute;
  right: 0px;
  text-align: -20px;
  z-index: 99999999;
}
.img-shiping-badge {
  position: absolute;
  left: 0px;
  text-align: -20px;
  z-index: 99999999;
  width: 50%;
  top: 162px;
}

.recomend-product-btn {
  margin-left:10px;
  float: right;
}

.badge-New {
  filter: invert(50%) sepia(75%) saturate(3127%) hue-rotate(87deg) brightness(131%) contrast(114%);
}

.badge-Hot {
  color: #f44336 !important;
  top: -17px !important;
}

.badge-Sale{
  filter: invert(11%) sepia(51%) saturate(6497%) hue-rotate(354deg) brightness(109%) contrast(117%);
}

.badge-Best {
  top: 0px !important;
  filter: invert(70%) sepia(74%) saturate(1099%) hue-rotate(89deg) brightness(105%) contrast(105%);
}

.btn-sent-all {
  position: fixed;
    bottom: 49px;
    right: 30px;
    width: 100px;
    height: 100px;
}

.btn-sent-all:focus {
  outline:none;
}

.badge-update-btn {
  margin-left:10px;
  float:left;
}

.shiping-badge-update-btn {
  margin-left:10px;
  float:left;
}
.btn-sent-all .mat-icon {
  height: 50px !important;
    width: 50px !important;
    font-size: 50px !important;
}

