<div class="row" *ngIf="products && products.length > 0">
  <div class="col-12 col-md-6 col-lg-7 filters" data-aos="fade-up">
    <mat-form-field appearance="fill" data-aos="fade-down">
      <mat-label><i class="nc-icon nc-zoom-split"></i></mat-label>
      <input matInput  placeholder="Ex. Product Name" (keyup)="search($event)" #input class="search-input">
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6 col-lg-3 filters" data-aos="fade-up">
    <mat-form-field appearance="fill" data-aos="fade-down">
      <mat-label>Sort By</mat-label>
      <mat-select [(value)]="sortOption" (selectionChange)="sortMethod()">
        <mat-option value='datedesc'>Newest</mat-option>
        <mat-option value="dateasc">Oldest</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6 col-lg-2 filters" data-aos="fade-up">
      <button mat-raised-button  class="button-bol" (click)='callFilterOrderComponent()' data-aos="fade-down" >Filter
        <mat-icon>filter_list</mat-icon>
      </button>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4 col-lg-4 holder-product" *ngFor="let product of searchProduct;let i = index"  data-aos="zoom-in-right">
      <div class="card profile-card-3">
        <img src="../../../assets/svg/icons/badge-de-vente.svg" *ngIf="product.productBadge == 'Sale'" class="img-badge badge-{{product.productBadge}}">
        <img src="../../../assets/svg/icons/new.svg" *ngIf="product.productBadge == 'New'"  class="img-badge badge-{{product.productBadge}}">
        <img src="../../../assets/svg/icons/award.svg" *ngIf="product.productBadge == 'Best'"  class="img-badge badge-{{product.productBadge}}">
        <img src="../../../assets/svg/icons/sticker.svg" *ngIf="product.productBadge == 'Hot'"  class="img-badge badge-{{product.productBadge}}">

          <div class="background-block">
              <div class="background"></div>
          </div>
          <div class="profile-thumb-block">
              <img class="avatar border-gray" [src]="product.images[0].src" alt="Product Image"*ngIf="product && product.imageURL != ''" (click)='openImageInput(i)' data-aos="zoom-in-left" class="profile">
              <input id="files" type="file" style="visibility:hidden;" (change)="selectedImage($event)"
              accept=".png, .jpeg" #files>
          </div>
          <div class="card-content">
              <h3 class="title-product" *ngIf="product.productBadge && product.productBadge != ''" data-aos="zoom-in-left">{{product.title}}</h3>
              <h3 class="title-product" *ngIf="!product.productBadge || (product.productBadge && product.productBadge == '')" data-aos="zoom-in-left">{{product.title}}</h3>
              <h4 class="ean-product" data-aos="zoom-in-left">{{product.productId}}</h4>
              <h5 class="ean-product text-muted" data-aos="zoom-in-left">{{product.createdAt |  date:'short'}}</h5>
          </div>
          <div class="card-footer" data-aos="fade-left" >
            <div class="update-button">
              <button mat-mini-fab color="warn" aria-label="Expand Button" (click)='updateCall(product)'>
                <mat-icon>update</mat-icon>
              </button>
            </div>

            <div class="upload-button">
              <!--<button mat-mini-fab color="accent" aria-label="Expand Button" (click)='uploadImage(i,product)' *ngIf="image[i].imageSrc && image[i].file">
                <mat-icon>cloud_upload</mat-icon>
              </button>-->
            </div>
          </div>
    </div>
</div>
