
<div class="sidebar-wrapper" data-aos="zoom-out-left">
  <div class="logo">
    <a  class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/logo.png">
      </div>
    </a>
    <a href="" class="simple-text logo-normal">
      Chocho Pet
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}" data-aos="zoom-out-right">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
