
<div class="sidebar-wrapper" data-aos="zoom-out-left">
  <div class="logo">
    <a  class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/logo.png">
      </div>
    </a>
    <a href="" class="simple-text logo-normal">
      Chocho Pet
    </a>
  </div>
  <div class="menuItem">
    <p class="header-info-side-bar">Menu</p>

    <ul class="nav">
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}" data-aos="zoom-out-right">
          <a [routerLink]="[menuItem.path]">
              <i class="{{menuItem.icon}}"></i>
              <p>{{menuItem.title}}</p>
          </a>
      </li>
  </ul>
  </div>

  <div class="menuItem">
    <p class="header-info-side-bar">Generating Tools</p>

    <ul class="nav">
      <li *ngFor="let bestReviewsItem of bestReviewsItems" routerLinkActive="active" class="{{bestReviewsItem.class}}" data-aos="zoom-out-right">
          <a [routerLink]="[bestReviewsItem.path]">
              <i class="{{bestReviewsItem.icon}}"></i>
              <p>{{bestReviewsItem.title}}</p>
          </a>
      </li>
  </ul>
  </div>

  <div class="menuItem settings">
    <p class="header-info-side-bar">Settings</p>

    <ul class="nav">
      <li *ngFor="let settingItem of settingsItems" routerLinkActive="active" class="{{settingItem.class}}">
          <a [routerLink]="[settingItem .path]">
              <i class="{{settingItem .icon}}"></i>
              <p>{{settingItem .title}}</p>
          </a>
      </li>
  </ul>
  </div>

</div>
