<div class="reset-password-wrapper" >

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Response to Contact</mat-card-title>
    </mat-card-header>

    <form class="reset-password-form" novalidate [formGroup]="responseCompliantForm">
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Subject</mat-label>
          <input matInput placeholder="Subject" formControlName="subject">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="Message" formControlName="message" cdkTextareaAutosize cdkAutosizeMinRows="7"
            cdkAutosizeMaxRows="20">
  </textarea>
        </mat-form-field>
      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block"
        [disabled]="responseCompliantForm.invalid || submitted " (click)='submitResponse()'>
        <mat-spinner *ngIf="submitted" [diameter]="35" mode="indeterminate"></mat-spinner>
        <mat-label *ngIf="!submitted"> Send Response </mat-label>
      </button>
    </form>
  </mat-card>

</div>
