<div class="row" *ngIf="orders && orders.length > 0">
  <div class="col-12 col-md-6 col-lg-7 filters" data-aos="fade-up">
    <mat-form-field appearance="fill" data-aos="fade-down">
      <mat-label><i class="nc-icon nc-zoom-split"></i></mat-label>
      <input matInput  placeholder="Ex. Product Name" (keyup)="search($event)" #input class="search-input">
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6 col-lg-3 filters" data-aos="fade-up">
    <mat-form-field appearance="fill" data-aos="fade-down">
      <mat-label>Sort By</mat-label>
      <mat-select [(value)]="sortOption" (selectionChange)="sortMethod()">
        <mat-option value='datedesc'>Newest</mat-option>
        <mat-option value="dateasc">Oldest</mat-option>
        <mat-option value="pricehigh">Highest To Lowest</mat-option>
        <mat-option value="pricelow">Lowest To Highest</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6 col-lg-2 filters" data-aos="fade-up">
      <button mat-raised-button  class="button-bol" (click)='callFilterOrderComponent()'data-aos="fade-down" >Filter
        <mat-icon>filter_list</mat-icon>
      </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12" *ngIf="searchedOrder && searchedOrder.length > 0">
    <div *ngFor="let order of searchedOrder;let i = index" >
      <mat-label class="text-primary" data-aos="fade-up">{{order.orderId}}</mat-label>
    <div class="card" data-aos="fade-down" *ngFor="let orderItem of order.orderDetail.orderItems">
      <div class="card-header" data-aos="fade-up">
        <div class="header-bol">
          <div class="bol-product-title">
            <mat-label class="title-bol">{{orderItem.product.title}} </mat-label>
            <mat-label class="info-product-bol">EAN {{orderItem.product.ean}} <mat-icon class="open_in_new">open_in_new</mat-icon> | New </mat-label>
          </div>
          <div class="buttons-bol">
            <div class="flag flag-icon flag-icon-{{order.orderDetail.shipmentDetails.countryCode | lowercase}} flag-icon-squared">
            </div>
            <button mat-raised-button  class="button-bol">BRIEVENBUS</button>
            <button mat-raised-button  class="button-bol" (click)="createOrder(order)">ANDERE VERZENDWIJZE</button>
            <button mat-mini-fab  class="button-bol-fab"><mat-icon>more_vert</mat-icon></button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6 col-md-3 col-lg-2 bol-order-info">
            <mat-label class="header-order-bol-info">Bestelnumer</mat-label>
            <mat-label class="content-order-bol-info">{{order.orderDetail.orderId}}</mat-label>
          </div>
          <div class="col-6 col-md-3 col-lg-2 bol-order-info">
            <mat-label class="header-order-bol-info">Besteldatum</mat-label>
            <mat-label class="content-order-bol-info">{{order.orderPlacedDateTime |  date:'short'}}</mat-label>
          </div>
          <div class="col-6 col-md-3 col-lg-3 bol-order-info">
            <mat-label class="header-order-bol-info">Uiterste leverdatum</mat-label>
            <mat-label class="content-order-bol-info">{{orderItem.fulfilment.latestDeliveryDate}}</mat-label>
          </div>
          <div class="col-6 col-md-3 col-lg-3 bol-order-info">
            <mat-label class="header-order-bol-info">Avantal</mat-label>
            <mat-label class="content-order-bol-info">{{orderItem.quantity}}</mat-label>
          </div>
          <div class="col-6 col-md-3 col-lg-2 bol-order-info">
            <mat-label class="header-order-bol-info">Waarde</mat-label>
            <mat-label class="content-order-bol-info">€{{orderItem.unitPrice * orderItem.quantity}}</mat-label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-label class="header-bol-option">
              E-mail
            </mat-label>
            <div class="header-bol-options">
              <button mat-mini-fab  class="button-bol-fab"><mat-icon>mail_outline</mat-icon></button>
              <button mat-mini-fab  class="button-bol-fab"><mat-icon>library_books</mat-icon></button>
            </div>
          </div>
        </div>
        <hr *ngIf="state[i] == 'expanded'">
      <div [@bodyExpansion]="state[i]" class="expandable-content">

        <div class="row" *ngIf="order.orderDetail.billingDetails">
          <div class="col-12">
          <mat-label class="header-bol-option">
            Billing Details
          </mat-label>
          </div>
          <div class="col-6 col-md-3 col-lg-2 bol-order-info">
            <mat-label class="header-order-bol-info">Customer</mat-label>
            <mat-label class="content-order-bol-info">{{order.orderDetail.billingDetails.firstName}}</mat-label>
          </div>
          <div class="col-6 col-md-3 col-lg-2 bol-order-info">
            <mat-label class="header-order-bol-info">Country</mat-label>
            <mat-label class="content-order-bol-info">{{order.orderDetail.billingDetails.countryCode}}</mat-label>
          </div>
          <div class="col-6 col-md-3 col-lg-3 bol-order-info">
            <mat-label class="header-order-bol-info">City</mat-label>
            <mat-label class="content-order-bol-info">{{order.orderDetail.billingDetails.city}}</mat-label>
          </div>
          <div class="col-6 col-md-3 col-lg-3 bol-order-info">
            <mat-label class="header-order-bol-info">Address</mat-label>
            <mat-label class="content-order-bol-info">{{order.orderDetail.billingDetails.houseNumber}},{{order.orderDetail.billingDetails.streetName}},{{order.orderDetail.billingDetails.zipCode}}</mat-label>
          </div>
          <div class="col-6 col-md-3 col-lg-2 bol-order-info">
            <mat-label class="header-order-bol-info">Salutation</mat-label>
            <mat-label class="content-order-bol-info">{{order.orderDetail.billingDetails.salutation}}</mat-label>
          </div>
        </div>

        <div class="row" *ngIf="order.orderDetail.shipmentDetails">
          <div class="col-12">
          <mat-label class="header-bol-option">
            Shipping
          </mat-label>
          </div>
          <div class="col-6 col-md-3 col-lg-2 bol-order-info">
            <mat-label class="header-order-bol-info">Customer</mat-label>
            <mat-label class="content-order-bol-info">{{order.orderDetail.shipmentDetails.firstName}}</mat-label>
          </div>
          <div class="col-6 col-md-3 col-lg-2 bol-order-info">
            <mat-label class="header-order-bol-info">Country</mat-label>
            <mat-label class="content-order-bol-info">{{order.orderDetail.shipmentDetails.countryCode}}</mat-label>
          </div>
          <div class="col-6 col-md-3 col-lg-3 bol-order-info">
            <mat-label class="header-order-bol-info">City</mat-label>
            <mat-label class="content-order-bol-info">{{order.orderDetail.shipmentDetails.city}}</mat-label>
          </div>
          <div class="col-6 col-md-3 col-lg-3 bol-order-info">
            <mat-label class="header-order-bol-info">Address</mat-label>
            <mat-label class="content-order-bol-info">{{order.orderDetail.shipmentDetails.houseNumber}},{{order.orderDetail.shipmentDetails.streetName}},{{order.orderDetail.shipmentDetails.zipCode}}</mat-label>
          </div>
          <div class="col-6 col-md-3 col-lg-2 bol-order-info">
            <mat-label class="header-order-bol-info">Salutation</mat-label>
            <mat-label class="content-order-bol-info">{{order.orderDetail.shipmentDetails.salutation }}</mat-label>
          </div>
        </div>

        <div class="row" *ngIf="orderItem.offer">
          <div class="col-12">
            <mat-label class="header-bol-option">
              Offer: {{orderItem.offer.offerId}}
            </mat-label>
            <div class="header-bol-options">
              <button mat-mini-fab  class="button-bol-fab"><mat-icon>local_offer</mat-icon></button>
            </div>
          </div>
        </div>

      </div>
      </div>
      <div class="card-footer" data-aos="fade-left" >
        <div class="expand-button">
          <button mat-mini-fab color="warn" aria-label="Expand Button" (click)='toggle(i)'>
            <mat-icon *ngIf="state[i] == 'collapsed'">expand_more</mat-icon>
            <mat-icon *ngIf="state[i] == 'expanded'">expand_less</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </div>
  </div>
  <div class="col-12" *ngIf="searchedOrder && searchedOrder.length == 0">
    <mat-label class="text-warning"> No Result Found</mat-label>
  </div>
  <div class="col-12 pagination" *ngIf="orders && orders.length > 0">
    <nav aria-label="Order Pagination">
      <ul class="pagination justify-content-center">
        <li  [ngClass]='currentPage && currentPage > 1 ? "page-item" : "page-item disabled"'>
          <a class="page-link" [routerLink]='["/orders" ]' [queryParams]='{page:(currentPage - 1)}' tabindex="-1" >Previous</a>
        </li>
        <li  [ngClass]='currentPage && currentPage == 1 ? "page-item active" : "page-item disabled"'><a class="page-link" [routerLink]='["/orders" ]' [queryParams]='{page:(1)}' >1</a></li>
        <li [hidden]='currentPage && currentPage == 1' [ngClass]='currentPage && currentPage != 1 ? "page-item active" : "page-item"'><a class="page-link" [routerLink]='["/orders" ]' [queryParams]='{page:(currentPage)}'>{{currentPage}}</a></li>
        <li class="page-item"><a class="page-link" [routerLink]='["/orders" ]' [queryParams]='{page:(currentPage + 1)}'>{{currentPage + 1}}</a></li>
        <li class="page-item"><a class="page-link" [routerLink]='["/orders" ]' [queryParams]='{page:(currentPage + 2)}'>{{currentPage + 2}}</a></li>
        <li class="page-item">
          <a class="page-link" [routerLink]='["/orders" ]' [queryParams]='{page:(currentPage + 1)}'>Next</a>
        </li>
      </ul>
    </nav>
  </div>

</div>
