<div class="row card row-card" data-aos="zoom-in-down" cdkDropList (cdkDropListDropped)="drop($event)"  >
  <h1 class="header-product-description-title" data-aos="fade-down-left">Best Tips Optimization</h1>
  <div class="col-12 tips-holder" *ngFor='let formField of formTips' cdkDrag>
    <div class="card "  id="cardId-{{formField.formId}}" data-aos="fade-up-left" >
      <div class="header-delete-button" *ngIf="formField.value.status == 'active'">
        <button mat-icon-button color="danger" aria-label="Delete Button" (click)="deleteTipsForm(formField.formId)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="header-return-button" *ngIf="formField.value.status == 'deleted'">
        <button mat-icon-button  color="primary" aria-label="Delete Button" (click)="activeFormTips(formField.formId)">
          <mat-icon>reply</mat-icon>
        </button>
      </div>
      <div class="product-description-header" id="tips-form-{{formField.formId}}" *ngIf='formField.value.status == "active"'>
        <div class="col-12">
          <mat-form-field appearance="fill" class="form-description-product-input">
            <mat-label>Pick An Option (Image Main)</mat-label>
            <mat-select  (selectionChange)="onChangeSelect($event.value,formField.formId)" class="select-option" [(value)]="formField.selectOption">
              <mat-option value="file">File</mat-option>
              <mat-option value="url" >Url</mat-option>
            </mat-select>
            <span class="error error-mat-select" >Please Select An Option</span>
          </mat-form-field>
        </div>
        <div class="col-12">
          <div class="form-description-product-input options-select field-file-tips">
            <mat-label>Pick file</mat-label>
            <button (click)="openUploadFile(formField.formId)" mat-icon-button class="input-file-button" >
              <mat-icon id="icon-image-{{formField.formId}}">image</mat-icon>
              <img id="img-image-{{formField.formId}}" src='' class="image-preview">
             </button>
            <input accept="image/png, image/gif, image/jpeg" placeholder="file"  type="file" class="file-input" style="display:none" (change)="selectedPreviewImage($event,formField.formId)">
            <span class="error input-file-error" >Please Put A File</span>
          </div>

        </div>
        <div class="col-12">
          <mat-form-field class="form-description-product-input options-select field-url-tips">
            <mat-label>Enter Url</mat-label>
            <input matInput placeholder="url" value="{{formField.value.mainImageUrl}}" type="url" class="input-url" >
            <span class="error input-url-error">Please Enter  A Url</span>
          </mat-form-field>
        </div>



        <div class="col-12">
          <mat-form-field class="form-description-product-input" appearance="fill">
            <mat-label>Title Tip</mat-label>
            <input matInput placeholder="Title" value="{{formField.value.title}}" type="text" class="input-tips">
            <span class="error input-tips-error">Please Enter Title</span>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="form-description-product-input">
            <mat-label>Tips Description</mat-label>
            <textarea matInput value="{{formField.value.description}}" placeholder="This a cool Tip" rows="5" cols="40" class="input-tips-description"></textarea>
            <span class="error input-tips-description-error">Please Enter tips Description </span>
          </mat-form-field>
        </div>
        <div class="error file-error-upload">Error Uploading File </div>
        <div class="success file-success-upload">File Uploaded Successfully </div>
        <div class="success tip-success-saved">Tip Saved Successfully </div>
        <div class="error tip-error-saved">Error While Saving Tip  </div>

      </div>

    </div>
  </div>
  <div class="col-12 text-center add-more-button">
    <button mat-mini-fab color="primary" aria-label="Add Another Form" (click)="addAnotherForm()" >
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>

<button mat-fab color="primary" aria-label="Submit All Unsent Coupon" class="btn-sent-all" matTooltip="Submit Forms" (click)="submitForm()">
  <mat-icon>cloud_upload</mat-icon>
</button>

<button mat-fab color="success" aria-label="Submit All Unsent Coupon" class="btn-sent-all btn-view" matTooltip="tips Best Tips" (click)="openGenerateBestTips()">
  <mat-icon>remove_red_eye</mat-icon>
</button>
