.card-img-holder {
  text-align: center;
    display: inline-block;
    width: 20%;
    padding: 50px;
}

.card-title-product {
  text-align: center;
    width: 70%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: left;
}

.product-holder {
  width: 100%;
  display: inline-block;
  padding: 15px;
}

.date {
  font-size: 15px;
  color:gray;
}

.product-description-header {
  width: 100%;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.form-description-product-input {
  width: 100%;
  display: block;
}

.options-select {
  display:none;
}

.header-delete-button {
  width: 100%;
  text-align: right;
}

.header-delete-button button{
  color:red
}

.header-product-description-title {
  font-size: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-top: 50px;
    color:white;
}

.header-delete-button button:focus{
  outline: none;
}

.row-card {
  background-color:  #283136;

}

.header-return-button {
  width: 100%;
  text-align: center;
}


.header-return-button button:focus{
  outline: none;
}

.add-more-button button:focus {
  outline:none;
}

.add-more-button {
  padding-bottom: 10px;
}



.btn-sent-all {
  position: fixed;
    bottom: 49px;
    right: 30px;
    width: 100px;
    height: 100px;
}

.btn-sent-all:focus {
  outline:none;
}

.error {
  font-size: 10px;
  color: red;
  margin-left: 30px;
  display: none;
}

.btn-sent-all .mat-icon {
  height: 50px !important;
    width: 50px !important;
    font-size: 50px !important;
}

.input-file-button {
  width: 90%;
  text-align: center;
}

.input-file-button:focus{
  outline: none;
}

.btn-view {
  right:140px;
  background-color: #5cb85c;
}

.btn-view .mat-icon {
  color:white;
}

.success {
  font-size: 10px;
  color: #5cb85c;
  margin-left: 30px;
  width: 100%;
  display: none;
}

.main-holder-best-tips {
  width: 100%;
  max-width: 100%;
  border: solid 1px #ccc;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  max-height: 100%;
}

.tips-holder {
  cursor: move;

}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tips-holder:last-child {
  border: none;
}

.main-holder-best-tips.cdk-drop-list-dragging .tips-holder:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-placeHolder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 600px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


