html,
body {
  height: 100%  !important;
}

body {
  margin: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  min-height: 100vh !important;
  background: #e2e2e2 !important;
}

.app-header {
  justify-content: space-between !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 2 !important;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12) !important;
}

.reset-password-wrapper {
  height: 100% !important;
  width: 100% !important;
  background-color:#F9F6EF;
  display: flex;
    justify-content: center;
    align-items: center;
}

.positronx {
  text-decoration: none !important;
  color: #ffffff !important;
}

.box {
  position: relative !important;
  top: 0 !important;
  opacity: 1 !important;
  float: left !important;
  padding: 60px 50px 40px 50px !important;
  width: 100% !important;
  background: #F4F3EF !important;
  border-radius: 10px !important;
  transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  z-index: 5 !important;
  max-width: 330px !important;
}

.box.back {
  transform: scale(.95) !important;
  -webkit-transform: scale(.95) !important;
  -ms-transform: scale(.95) !important;
  top: -20px !important;
  opacity: .8 !important;
  z-index: -1 !important;
}

.box:before {
  content: "" !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 10px !important;
  position: absolute !important;
  top: -10px !important;
  background: rgba(255, 255, 255, .6) !important;
  left: 0 !important;
  transform: scale(.95) !important;
  -webkit-transform: scale(.95) !important;
  -ms-transform: scale(.95) !important;
  z-index: -1 !important;
}

.reset-password-wrapper .reset-password-form {
  min-width: 100% !important;
  max-width: 300px !important;
  width: 100% !important;
}

.reset-password-wrapper .full-width {
  width: 100% !important;
  height: 60px;
  margin-top: 15px;
}
.reset-password-wrapper .btn-block {
  width: 100% !important;
  height: 50px;
}

.reset-password-wrapper mat-card-header {
  text-align: center !important;
  width: 100% !important;
  display: block !important;
  font-weight: 700 !important;
}

.reset-password-wrapper mat-card-header mat-card-title {
  font-size: 30px !important;
  margin: 0 !important;
}

.reset-password-wrapper .mat-card {
  padding: 40px 70px 50px !important;
}

.reset-password-wrapper .mat-stroked-button {
  border: 1px solid currentColor !important;
  line-height: 54px !important;
  background: #FFF7FA !important;
}

.reset-password-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0 !important;
}


mat-spinner {
  margin:0 auto;
}
.main-panel {
  width: 100% !important;
  height: 100% !important;
}

.content {
  width: 100% !important;
  height: 100% !important;
}







