<div class="reset-password-wrapper">

<mat-card class="box">
  <mat-card-header>
    <mat-card-title>Reset Password</mat-card-title>
  </mat-card-header>

  <form class="reset-password-form" novalidate [formGroup]="resetPasswordForm">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="Old Password" formControlName="oldPassword" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        <mat-error *ngIf="formErrors && formErrors.oldPassword">{{formErrors.oldPassword}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="New Password" formControlName="newPassword"  [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        <mat-error *ngIf="formErrors && formErrors.newPassword">{{formErrors.newPassword}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Confirm New Password" formControlName="confirmNewPassword"  [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        <mat-error *ngIf="formErrors && formErrors.confirmNewPassword">{{formErrors.confirmNewPassword}}</mat-error>
      </mat-form-field>
      <mat-error *ngIf="validationErrors">{{validationErrors.errmsg}}</mat-error>
    </mat-card-content>

    <button mat-stroked-button color="accent" class="btn-block" (click)="changePassword()"
      [disabled]="resetPasswordForm.invalid || submitted ">
      <mat-spinner *ngIf="submitted" [diameter]="35" mode="indeterminate"></mat-spinner>
      <mat-label *ngIf="!submitted" > Reset Password </mat-label>
    </button>
  </form>
</mat-card>

</div>
