<div class="card">

    <div class="card-body" data-aos="zoom-in-down">
      <div class="button-container">
      <div class="image text-center text-primary">
        Deposits Hash State
      </div>
      <div class="row" *ngIf="currentHash && currentHash.address && currentHash.address.deposits && currentHash.address.deposits.length > 0">
        <div class="col-12">
          <app-card-state [depositStateCard]='depositStateCard' [type]='"deposit"'></app-card-state>
        </div>

        <div class="col-8">
          <app-line-graph [deposits]='depositState' [type]="'deposit'" (depositStateCard)='getDepositState($event)'></app-line-graph>
        </div>
        <div class="col-4" >
          <app-circle-graph [deposits]='depositState' [type]="'deposit'"></app-circle-graph>
        </div>

      </div>
    </div>
    <hr>
      <div class="table-responsive">
      <mat-form-field *ngIf="loaded && currentHash && currentHash.address && currentHash.address.deposits && currentHash.address.deposits.length > 0">
        <mat-label><i class="nc-icon nc-zoom-split"></i></mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. txid" #input>
      </mat-form-field>
      <ngx-skeleton-loader count="20" *ngIf="!loaded"></ngx-skeleton-loader>
      <table class="table" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows
      class="mat-elevation-z8" [hidden]="!(currentHash && currentHash.address && currentHash.address.deposits && currentHash.address.deposits.length > 0)">
      <ng-container matColumnDef="txid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Transaction Id </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.txid}}"> {{element.txid}} </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Amount </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.amount}}"> {{element.amount}} </td>
      </ng-container>

      <ng-container matColumnDef="currentBalance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Current Balance  </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{element.currentBalance}}"> {{element.currentBalance}} </td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Deposit On</th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'short'}} </td>
      </ng-container>
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Deposit Active </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>{{element.active ? 'check' : 'close'}} </mat-icon></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons *ngIf="loaded && currentHash && currentHash.address && currentHash.address.deposits && currentHash.address.deposits.length > 0"></mat-paginator>
    <div class="n-deposit">
      <mat-label >No Deposits</mat-label>
    </div>
    </div>

    </div>
</div>
