.icon-mat {
  display: inline-block;
    font: normal normal normal 14px/1 "nucleo-icons";
    font-size: inherit;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    font-size: inherit;
  height: inherit;
  width: inherit;
}

.deposit {
  font-size: 15px;
}


