
.row {
  background-color: #283136;
}

.card {
  background-color: #283136;
}

.card-title {
  color:white;
}

#input {
  background-color: white;
}

mat-form-field {
  width: 80%;
}

::ng-deep .mat-form-field-flex {
  background-color: white !important;
}

table {
  width: 100% !important;
  table-layout: fixed !important;

}

th, td {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
    display: flex;
    width: 100%;
    overflow: hidden;
    text-align: center !important;
    justify-content: center;
    height: 83px;
    align-items: center;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.response {
  width: 100%;
  min-height: 70px;
  position: relative;
}

.response-content {
  width: 100%;
  display: block;
  font-size: 20px;
}

.response-note {
    margin-top: 15px;
    text-align: left;
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

.response-status{
  text-align: left;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.no-response {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #283136;
    font-size: 25px;
    font-weight: bold;
}

.reply-button {
    position: absolute;
    top: 25%;
    right: 0px;
}

.n-complaint mat-label {
  text-align: center;
    color: white !important;
    font-size: 20px !important;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
