.row{
  overflow: hidden;
  background-color:  #283136;
  border-radius: 15px;
  padding-bottom: 150px;
  margin-bottom: 15px;
}

[class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.image {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 20px;
  color:white;
}




